#date_format::-webkit-outer-spin-button,
#date_format::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.btn-size{
    width: 50px;
}
td{
    border-top: 0px solid #ddd !important;
}
.not_allowed{
    cursor: not-allowed;
}
button[disabled], html input[disabled] {
    cursor: not-allowed !important;
}
.ng-scope > canvas {
    max-width: 100%;
}