#date_format::-webkit-outer-spin-button,
#date_format::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
button{
    width: 70px;
}
td{
    border-top: 0px solid #ddd !important;
}