<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stream</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body ng-app="mvsApp">               
        <div class="row">
            <button ui-sref="flowplayer" style="display: none;">flowvideo</button>
            <button ui-sref="nativo" style="display: none;">nativo</button>
            <div class="col-lg-12" ui-view style="text-align: center;"></div>
            <div class="col-lg-12" ng-controller="MainCtrl as mc">
                <center class="row">
                    <table  id="controls">
                        <tr>
                            <td>
                                <button class="btn-cam" type="button" ng-click="mc.zoomOut()">Alejar</button>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn-cam" type="button" ng-click="mc.zoomIn()">Acercar</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" >
                                <button class="btn-cam" type="button" ng-click="mc.moveUp()">Subir</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn-cam" type="button" ng-click="mc.moveLeft()">Izq.</button>
                            </td>
                            <td> 
                                <button class="btn-cam-stop" type="button" ng-click="mc.stop()">STOP</button>
                            </td>
                            <td>
                                <button class="btn-cam" type="button" ng-click="mc.moveRight()">Der.</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button class="btn-cam" type="button" ng-click="mc.moveDown()">Bajar</button>
                            </td>
                        </tr>
                    </table>
                </center>                
                <div class="margins" style="display: none;">
                    <form name="exportForm" id="export_form">
                        <div class="margins">
                            <label class="label">Desde</label>
                            <input type="date" required class="form-control" id="date_desde">
                            <input type="time" required class="form-control" id="time_desde">
                            <input type="number" required class="form-control-xs" id="segs_desde" min="0" max="59">
                        </div>
                        <div class="margins">
                            <label class="label">Hasta</label>
                            <input type="date" required class="form-control" id="date_hasta">
                            <input type="time" required class="form-control" id="time_hasta">
                            <input type="number" required class="form-control-xs" id="segs_hasta" min="0" max="59">
                        </div>
                        <div class="margins" style="text-align: center;">
                            <button class="btn-cam" type="button" onclick="exportVideo()">Exportar</button>
                            <button class="btn-cam" type="button" onclick="exportInfo()">Exp. Info</button>
                        </div>                            
                    </form> 
                </div>                               
            </div>
        </div>    
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        
        <script src="socket.io/socket.io.js"></script>
        <script src="scripts/app.main.js"></script>        
        <script src="scripts/app.config.js"></script>
        <script src="scripts/app.constant.js"></script>
        <script src="scripts/controllers/main.controller.js"></script>
        <script src="scripts/controllers/flash.controller.js"></script>
        <script src="scripts/controllers/native.controller.js"></script>
        <script src="scripts/controllers/socket.controller.js"></script>
        <script src="scripts/services/comunication.service.js"></script>
    </body>
</html>
