<!DOCTYPE html>
<html>
    <head>
        <title>Stream</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../flowplayer/flowplayer.min.js"></script>   
    </head>
    <body>
        <!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
        <a  
            style="display:block;width:520px;height:330px"  
            id="player"> 
        </a> 

        <!-- this will install flowplayer inside previous A- tag. -->
        <script>
            flowplayer("player", "../flowplayer/flowplayer.swf");
        </script>
    </body>
</html>
