<!DOCTYPE html>
<div class="row">
    <div class="col-lg-10" style="margin-top: 20px; background-color: gainsboro;">                    
        <table class="table" style="text-align: center;">
            <tr><td colspan="3">&nbsp;{{vm.cameraMovements}}</td></tr>
            <tr>
                <td>
                    <button class="btn-sm btn-primary btn-size" type="button" ng-click="vm.moveUp()"
                            data-toggle="tooltip" title="Subir">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>                                    
                </td>
                <td>
                    <button class="btn-sm btn-primary btn-size" type="button" ng-click="vm.moveDown()"
                            data-toggle="tooltip" title="Abajo">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button class="btn-sm btn-primary btn-size" type="button" ng-click="vm.zoomIn()"
                            data-toggle="tooltip" title="Acercar">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn-sm btn-primary btn-size" type="button" ng-click="vm.moveLeft()"
                            data-toggle="tooltip" title="Izquierda">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>                                                                   
                </td>
                <td> 
                    <button class="btn-sm btn-primary btn-size" type="button" ng-click="vm.moveRight()"
                            data-toggle="tooltip" title="Derecha">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>                                    
                </td>
                <td>
                    <button class="btn-sm btn-primary btn-size" type="button" ng-click="vm.zoomOut()"
                            data-toggle="tooltip" title="Alejar">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>                                    
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="btn-sm btn-danger btn-size" type="button" ng-click="vm.stop()"
                            data-toggle="tooltip" title="Detener">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    </button>                             
                </td>
            </tr>
        </table>                                                                
    </div>                    
</div>
<div class="row">
    <div class="col-lg-10" style="background-color: gainsboro;">
        <div class="row" style="margin-top: 20px;">
            <form name="exportForm" ng-submit="vm.exportVideo(vm.frm, exportForm)" novalidate>
                <div class="col-lg-12">
                    <div class="form-group" ng-class="{'has-error': exportForm.fechaDesde.$touched && exportForm.fechaDesde.$invalid}">
                        <label>Desde</label>
                        <div class="styled-select">
                            <input ng-model="vm.frm.fechaDesde" step="1"
                                   type="datetime-local" name="fechaDesde" required
                                   max="{{vm.maxDatetimeLocal | date:'yyyy-MM-ddTHH:mm:ss'}}"
                                   class="form-control">
                        </div>
                        <div ng-messages="exportForm.fechaDesde.$touched && exportForm.fechaDesde.$error" role="alert">
                            <span style="font-size: 9pt;" class="help-block" ng-message="required">Campo Obligatorio</span>
                            <span style="font-size: 9pt;" class="help-block" ng-message="max">La fecha no puede ser superior a la de hoy</span>
                            <span style="font-size: 9pt;" class="help-block" ng-message="datetime-local">Formato invalidos</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ng-class="{'has-error': exportForm.fechaHasta.$touched && exportForm.fechaHasta.$invalid}">
                        <label>Hasta:</label>
                        <div class="styled-select">
                            <input ng-model="vm.frm.fechaHasta" step="1"
                                   type="datetime-local" name="fechaHasta" required
                                   max="{{vm.maxDatetimeLocal | date:'yyyy-MM-ddTHH:mm:ss'}}"
                                   class="form-control">
                        </div>
                        <div ng-messages="exportForm.fechaHasta.$touched && exportForm.fechaHasta.$error" role="alert">
                            <span style="font-size: 9pt;" class="help-block" ng-message="required">Campo Obligatorio</span>
                            <span style="font-size: 9pt;" class="help-block" ng-message="max">La fecha no puede ser superior a la de hoy</span>
                            <span style="font-size: 9pt;" class="help-block" ng-message="datetime-local">Formato invalidos</span>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; margin-bottom: 20px;">
                    <button class="btn-sm btn-success" type="submit"
                            style="width: 80px;"
                            ng-class="{'not_allowed': vm.habilitar.btnExportar}"
                            ng-show="vm.visible.btnExportar"
                            ng-disabled="vm.habilitar.btnExportar">{{vm.text.btnExportar}}</button>
                    <a href="{{vm.text.url}}" download="{{vm.text.descargar}}"
                       ng-show="vm.visible.btnDownload"
                       ng-click="vm.descargarVideo()">{{vm.text.btnDownload}}</a>                                    
                </div>
            </form>
        </div>
    </div>
</div>